<div class="container">
  <br>
  {{#if messages.success}}
    <div class="text-success light">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger light">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  <h4 class="profile center light">Informacja o profilu użytkownika</h4>

  <form method="POST" action="/account?_method=PUT">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{user.email}}">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{user.name}}">
    <label>Gravatar</label>
    <img src="{{user.gravatar}}" class="gravatar" width="100" height="100">
    <br>
    <button class="waves-effect waves-light btn indigo" type="submit">Zaktualizuj profil</button>
  </form>

  <h4 class="changepassword center light">Zmień hasło</h4>

  <form method="POST" action="/account?_method=PUT">
    <label for="password">Nowe hasło</label>
    <input type="password" name="password" id="password">
    <label for="confirm">Potwierdź hasło</label>
    <input type="password" name="confirm" id="confirm">
    <br>
    <button class="waves-effect waves-light btn red" type="submit">zmień hasło</button>
  </form>

  <h4 class="light">połączone konta</h4>

  {{#if user.facebook}}
    <p><a href="/unlink/facebook" class="text-danger">Odłącz twoje konto Facebook</a></p>
  {{else}}
    <p><a href="/auth/facebook">Podłącz swoje konto Facebook</a></p>
  {{/if}}
  {{#if user.google}}
    <p><a href="/unlink/google" class="text-danger">Odłącz twoje konto Google</a></p>
  {{else}}
    <p><a href="/auth/google">Podłącz swoje konto Google</a></p>
  {{/if}}

  <h4 class="removeaccount center light">Usuń konto</h4>

  <form method="POST" class="center" action="/account?_method=DELETE">
    <p class="center light">Możesz usunąć swoje konto, jednak miej na uwadze, że ta operacja jest nieodwracalna</p>
    <button class="waves-effect waves-light btn red accent-4" type="submit">Usuń konto!</button>
  </form>
  <br>
</div>
