<div class="container">
  <br>
  {{#if messages.success}}
    <div class="text-success light">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger light">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}

  <h4 class="profile center light">{{translation.ACCOUNT-INFO}}</h4>

  <form method="POST" action="/account?_method=PUT">
    <label for="email">{{translation.EMAIL}}</label>
    <input type="email" name="email" id="email" value="{{user.email}}">
    <label for="name">{{translation.NAME}}</label>
    <input type="text" name="name" id="name" value="{{user.name}}">
    <label>Gravatar</label>
    <img src="{{user.gravatar}}" class="gravatar" width="100" height="100">
    <br>
    <button class="waves-effect waves-light btn indigo" type="submit">{{translation.UPDATE-PROFILE}}</button>
  </form>
  <br>
  <hr>
  <br>
  <h4 class="changepassword center light">{{translation.CHANGE-PASS}}</h4>

  <form method="POST" action="/account?_method=PUT">
    <label for="password">{{translation.NEW-PASS}}</label>
    <input type="password" name="password" id="password">
    <label for="confirm">{{translation.CONFIRM-PASS}}</label>
    <input type="password" name="confirm" id="confirm">
    <br>
    <button class="waves-effect waves-light btn red" type="submit">{{translation.CHANGE-PASS}}</button>
  </form>
  <h4 class="light center">{{translation.LINKED-ACCOUNTS}}</h4>

  {{#if user.facebook}}
    <p><a href="/unlink/facebook" class="text-danger">{{translation.UNLINK-FACEBOOK}}</a></p>
  {{else}}
    <p><a href="/auth/facebook">{{translation.LINK-FACEBOOK}}</a></p>
  {{/if}}
  {{#if user.google}}
    <p><a href="/unlink/google" class="text-danger">{{translation.UNLINK-GOOGLE}}</a></p>
  {{else}}
    <p><a href="/auth/google">{{translation.LINK-GOOGLE}}</a></p>
  {{/if}}
  <br>
  <hr>
  <br>
  <h4 class="removeaccount center light">{{translation.DELETE-ACCOUNT}}</h4>

  <form method="POST" class="center" action="/account?_method=DELETE">
    <p class="center light">{{translation.DELETE-ACCOUNT-CAPTION}}</p>
    <button class="waves-effect waves-light btn red accent-4" type="submit">{{translation.DELETE-ACCOUNT}}</button>
  </form>
  <br>
</div>
