<div class="section followersPage">
  <div class="container">
    <ul class="collection with-header">
      <li class="collection-header center">
        <i class="fa fa-list-alt followerslisticon" aria-hidden="true"></i>
        <h4 class="light">{{translation.SUPPORTLIST}}</h4></li>
      {{#if followers}}
        {{#each followers}}
          <li class="collection-item"><b>Imię:</b> {{FirstName}} <br> <b>Nazwisko:</b> {{LastName}} <br> <b>Email:</b> {{Email}} <br> <b>Miejscowość:</b> {{Place}} <br> <b>Wiadomość:</b> {{Message}}</li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>
